@charset "utf-8";
/**************************************************
	
	Global
	
**************************************************/
.__viewFooterBtns{ text-align:center; padding-top:40px; }
.__viewMobileModeBtn{ width:90%; font-size:50px !important; padding:30px !important; }

.__article_btnArea{ text-align:center; padding-top:30px; font-size:0; }
.__article_sment{ display:block; padding-top:4px; color:#999; font-size:11px; }
.__article_table{ width:100%; border-bottom:1px solid #AAAAAA; }
.__article_table thead tr th,
.__article_table tbody tr td{ padding:6px; }
.__article_table thead tr th{ border-bottom:1px solid #9A9A9A; border-top:1px solid #9A9A9A; background:url(../../images/article_table_thead_bg.jpg); font-weight:normal; }
.__article_table thead tr th a{ color:#000; }
.__article_table thead tr th a:hover{ text-decoration:none; }
.__article_table thead tr th.___f{ border-left:1px solid #9A9A9A; }
.__article_table thead tr th.___l{ border-right:1px solid #9A9A9A; }
.__article_table tbody tr th,
.__article_table tbody tr td{ border-bottom:1px solid #EBEBEB; padding:8px; }
.__article_table tbody tr:hover{ background:#FBFBFB; }
.__article_table tbody tr .___number,
.__article_table tbody tr .___number *{ text-align:center; font-size:11px; font-family:Tahoma; font-weight:normal; color:#999; }
.__article_table tbody tr .___noPadding{ padding-right:0; padding-left:0; text-align:center; }

.__article_table_read{ width:100%; border-top:1px solid #5D5E67; border-bottom:1px solid #AAAAAA; }
.__article_table_read thead tr th{ background-color:#F7F7F7; padding:6px; }
.__article_table_read tbody tr th,
.__article_table_read tbody tr td{ border-bottom:1px solid #F0F0F0; padding:6px; }
.__article_table_read tbody tr th{ width:120px; text-align:left; font-weight:normal; }

.__button_submit{ cursor:pointer; margin:0 4px; background:#333447; display:inline-block; *display:inline; *zoom:1; border:none; padding:7px 12px; padding-top:10px; font-size:13px; color:#fff; }
.__button_cancel{ cursor:pointer; margin:0 4px; background:#A5A6AC; display:inline-block; *display:inline; *zoom:1; border:none; padding:7px 12px; padding-top:10px; font-size:13px; color:#fff; }
.__button_small{
	font-size:11px; border:1px solid #494344; color:#fff; padding:5px 8px; margin:2px; cursor:pointer; vertical-align:top; display:inline-block; *display:inline; *zoom:1;
	background: #6C6465; /* Old browsers */
	background: -moz-linear-gradient(top, #6C6465 0%, #4A4445 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6C6465), color-stop(100%,#4A4445)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6C6465 0%,#4A4445 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6C6465 0%,#4A4445 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6C6465 0%,#4A4445 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6C6465 0%,#4A4445 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6C6465', endColorstr='#4A4445',GradientType=0 ); /* IE6-9 */
}
.__button_small_gray{
	font-size:11px; border:1px solid #D4D4D4; padding:5px 8px; margin:2px; cursor:pointer; vertical-align:top;
	background: #F8F8F8; /* Old browsers */
	background: -moz-linear-gradient(top, #FAFAFA 0%, #F0F0F0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#F0F0F0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F8F8F8 0%,#F0F0F0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F8F8F8 0%,#F0F0F0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F8F8F8 0%,#F0F0F0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F8F8F8 0%,#F0F0F0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#F0F0F0',GradientType=0 ); /* IE6-9 */
}
.__article_sment{ line-height:15px; font-size:11px; display:block; color:#666; padding-top:4px; }

.__paging_area{ margin:0; padding:0; padding-top:10px; list-style-type:none; text-align:center; line-height:13px; font-size:0; }
.__paging_area li{ vertical-align:middle; border:1px solid #DCDCDC; margin:0 3px; line-height:0; }
.__paging_area .___paging_num_active{ color:#DA2044; width:30px; text-align:center; padding:10px 0; border-color:#DA2044; line-height:8px !important; font:12px tahoma; display:inline-block; *zoom:1; *display:inline; }
.__paging_area .___paging_num{ color:#333333; font:12px tahoma; display:inline-block; *zoom:1; *display:inline; }
.__paging_area .___paging_num > a{ display:block; width:30px; text-align:center; padding:10px 0; line-height:8px; }
.__paging_area .___paging_num:hover{ border-color:#DA2044; }
.__paging_area .___paging_num:hover > a{ color:#000; text-decoration:none; }
.__paging_area .___paging_after,
.__paging_area .___paging_after2,
.__paging_area .___paging_before,
.__paging_area .___paging_before2{ border:none; display:inline-block; *zoom:1; *display:inline; }
.__paging_area .___paging_after > a,
.__paging_area .___paging_after2 > a,
.__paging_area .___paging_before > a,
.__paging_area .___paging_before2 > a{ padding:10px 3px; text-align:center; display:block; font-size:11px; color:#999; letter-spacing:-1px; }
.__paging_area .___paging_after > a:hover,
.__paging_area .___paging_after2 > a:hover,
.__paging_area .___paging_before > a:hover,
.__paging_area .___paging_before2 > a:hover{ color:#000; text-decoration:none; }
.__paging_area .___paging_after > a,
.__paging_area .___paging_after2 > a{ font-size:11px; color:#999; letter-spacing:-1px; }
.__paging_area .___paging_after > a img,
.__paging_area .___paging_after2 > a img{ padding-left:3px; }
.__paging_area .___paging_before > a img,
.__paging_area .___paging_before2 > a img{ padding-right:3px; }

/**************************************************
	layout > header
**************************************************/
header{ position:relative; width:1000px; margin:0 auto; margin-top:30px;z-index:99; font-size:0; }
header #searchForm{ font-size:0; position:absolute; bottom:0; left:0; z-index:99; }
header #searchForm > *{ vertical-align:top; }
header #searchForm .keyword{ display:none; padding:10px 5px 0 10px; width:150px; background:#5C5D70; border:none; height:28px; color:#fff; }
header #searchForm .submit{ height:38px; width:50px; padding:10px 0; background:#5C5D70 url(../../images/sample/totalSearch_btn.jpg) no-repeat center center; color:#fff; border:none; cursor:pointer; }
header .logo > a{ display:inline-block; *display:inline; *zoom:1; }
header .status{ position:absolute; top:0; right:0; margin:0; padding:0; list-style-type:none; }
header .status > li{ display:inline-block; *display:inline; *zoom:1; vertical-align:top; padding-left:15px; margin-left:15px; border-left:1px solid #dedede; line-height:11px; }
header .status > li:first-child{ border-left:none; }
header .status > li > a{ font-size:11px; letter-spacing:-1px; }
header .gnb{ position:relative; height:38px; margin:0; margin-top:20px; padding:0; list-style-type:none; background:#333447; text-align:right; }
header .gnb > li{ position:absolute; right:0; top:0; display:inline-block; *display:inline; *zoom:1; }
header .gnb > li > a{ text-align:center; height:30px; padding-top:8px; display:block; color:#fff; border-left:1px solid #242536; font:14px MalgunGothic; }
header .gnb > li > ul{ display:none; list-style-type:none; padding:0; margin:0; background:#7E7F94; border:1px solid #6A6B7C; border-top:none; }
header .gnb > li > ul > li{ display:block; text-align:left; border-top:1px solid #8E8FA1; }
header .gnb > li > ul > li:first-child{ border-top:none; }
header .gnb > li > ul > li > a{ display:block; padding:7px 10px; color:#fff; font:13px MalgunGothic; }
header .gnb > li:hover{ background:#505162; }
header .gnb > li:hover > a{ text-decoration:none; }
header .gnb > li:hover > ul{ display:block; }
header .gnb > li:hover > ul > li > a{ text-decoration:none; }
header .gnb > li > ul > li:hover{ background:#898A9F; }

/**************************************************
	layout > sub page
**************************************************/
article#sub{ width:1000px; margin:0 auto; margin-top:30px; zoom:1; }
article#sub:after{ content:""; display:block; clear:both; }
article#sub .lnb{ width:180px; float:left; }
article#sub .lnb > h2 a{ font-size:18px; font-family:MalgunGothic; letter-spacing:-1px; font-weight:normal; color:#333; }
article#sub .lnb > ul{ margin:0; padding:0; list-style-type:none; border-top:2px solid #585858; border-bottom:1px solid #ABABAB; margin-top:10px; }
article#sub .lnb > ul > li{ border-top:1px solid #EBEBEB; }
article#sub .lnb > ul > li:first-child{ border-top:none; }
article#sub .lnb > ul > li > a{ font-size:14px; font-family:MalgunGothic; color:#525252; padding:12px 8px; display:block; }
article#sub .lnb > ul > li > a:hover{ color:#EA3A5A; text-decoration:none; }
article#sub .lnb > ul > li.active > a{ color:#EA3A5A; }
article#sub .lnb > ul > li.depth3{ background:#f1f1f1; filter:none; border-top:1px solid #D1D1D1; }
article#sub .lnb > ul > li.depth3 > a{ padding:10px 0 10px 20px; font-weight:normal; color:#666666; }
article#sub .lnb > ul > li.depth3 > a:hover{ color:#000; }
article#sub .lnb > ul > li.depth3.active > a{ color:#000; }
article#sub .content{ margin-left:35px; width:785px; float:left; }
article#sub .content > .title{ border-bottom:1px solid #D8D8D8; padding-bottom:13px;  }
article#sub .content > .title > h3{ font-size:18px; font-family:MalgunGothic; letter-spacing:-1px; font-weight:normal; color:#333; }
article#sub .content > .title .navigator{ float:right; z-index:39;  }
article#sub .content > .title .navigator > a{ font-size:11px; }
article#sub .content > .cont{ padding-top:25px; }

/**************************************************
	layout > main page
**************************************************/
article#main{ width:1000px; margin:0 auto; margin-top:0; }

/* default */
article#main .cont{ padding-top:15px; zoom:1; }
article#main .cont:after{ content:""; display:block; clear:both; }
article#main .cont .notice{ width:335px; float:left; }
article#main .cont .notice .title{ border-bottom:1px solid #D9D9D9; position:relative; padding:7px; }
article#main .cont .notice .title > h4 > a{ font-size:16px; font-weight:normal; font-family:MalgunGothic; color:#333; }
article#main .cont .notice .title > a.more{ position:absolute; bottom:10px; right:5px; font-size:11px; color:#999; }
article#main .cont .notice .list{ margin:0; margin-top:15px; padding:0; list-style-type:none; }
article#main .cont .notice .list > li{ padding:4px 10px; position:relative; border-top:1px dotted #dedede; }
article#main .cont .notice .list > li:first-child{ border-top:none; }
article#main .cont .notice .list > li > a{ color:#333; background:url(../../images/sample/latest_bull.jpg) no-repeat 0 center; padding-left:8px; }
article#main .cont .notice .list > li .name{ padding-left:5px; font-size:11px; }
article#main .cont .notice .list > li .comment{ font:11px arial; font-weight:bold; color:#ea3a5a; }
article#main .cont .notice .list > li .regdate{ font-size:11px; color:#999; position:absolute; top:6px; right:10px; font-family:arial; }

/* gallery */
article#main .cont .gallery{ width:335px; float:left; margin-left:20px; }
article#main .cont .gallery .title{ border-bottom:1px solid #D9D9D9; position:relative; padding:7px; }
article#main .cont .gallery .title > h4 > a{ font-size:16px; font-weight:normal; font-family:MalgunGothic; color:#333; }
article#main .cont .gallery .title > a.more{ position:absolute; bottom:10px; right:5px; font-size:11px; color:#999; }
article#main .cont .gallery .list{ margin:0; margin-top:10px; padding:0; list-style-type:none; text-align:center; }
article#main .cont .gallery .list > li{ width:150px; display:inline-block; *display:inline; *zoom:1; margin:5px; text-align:left; }
article#main .cont .gallery .list > li > a{ color:#333; display:block; }
article#main .cont .gallery .list > li .sbj{ padding-top:5px; padding-left:3px; letter-spacing:-1px; display:inline-block; *display:inline; *zoom:1; }
article#main .cont .gallery .list > li .name{ padding-left:5px; font-size:11px; }
article#main .cont .gallery .list > li .comment{ font:11px arial; font-weight:bold; color:#ea3a5a; }
article#main .cont .gallery .list > li .regdate{ font-size:11px; padding-left:3px; color:#999; font-family:arial; }

/* webzine */
article#main .cont .webzine{ width:290px; float:left; margin-left:20px; }
article#main .cont .webzine .title{ border-bottom:1px solid #D9D9D9; position:relative; padding:7px; }
article#main .cont .webzine .title > h4 > a{ font-size:16px; font-weight:normal; font-family:MalgunGothic; color:#333; }
article#main .cont .webzine .title > a.more{ position:absolute; bottom:10px; right:5px; font-size:11px; color:#999; letter-spacing:-1px; }
article#main .cont .webzine .list{ margin:0; margin-top:15px; padding:0; list-style-type:none; text-align:center; }
article#main .cont .webzine .list > li{ display:block; margin:5px; text-align:left; zoom:1; }
article#main .cont .webzine .list > li:after{ content:""; display:block; clear:both; }
article#main .cont .webzine .list > li > .thumb{ vertical-align:top; float:left; margin-right:10px; }
article#main .cont .webzine .list > li > .zine_cont{ padding:0; float:left; width:170px;	 }
article#main .cont .webzine .list > li a{ color:#333; display:block; }
article#main .cont .webzine .list > li .sbj{ padding-top:5px; font-weight:bold; font-size:13px; letter-spacing:-1px; display:inline-block; *display:inline; *zoom:1; }
article#main .cont .webzine .list > li .name{ padding-left:5px; font-size:11px; }
article#main .cont .webzine .list > li .comment{ font:11px arial; font-weight:bold; color:#ea3a5a; }
article#main .cont .webzine .list > li .ment{ font-size:12px; padding-top:5px; color:#666; }
article#main .cont .webzine .list > li .regdate{ font-size:11px; display:block; padding-top:5px; color:#999; font-family:arial; }

/**************************************************
	login
**************************************************/
#loginForm{ width:440px; margin:40px auto; }
#loginForm .inner{ zoom:1; apadding:15px; margin-top:10px; }
#loginForm .inner:after{ content:""; display:block; clear:both; }
#loginForm .inner > input.id,
#loginForm .inner > input.password{ background-color:#fff; border:1px solid #DADADA; height:14px; width:304px; padding:10px; }
#loginForm .inner > input.id{ margin-bottom:5px; }
#loginForm .inner > input.submit{ float:right; width:110px; height:77px; cursor:pointer; background:#EF3167; color:#fff; font:16px MalgunGothic; font-weight:bold; border:none; }
#loginForm .inner > .checkArea{ display:block; padding-top:10px; font-size:11px; color:#999; }
#loginForm .btnArea{ margin:0; margin-top:15px; padding:10px; text-align:center; list-style-type:none; }
#loginForm .btnArea > li{display:inline-block; *display:inline; *zoom:1; }
#loginForm .btnArea > li > a{  padding:0 20px; border-left:1px solid #D8D8D8; font-weight:bold; }
#loginForm .btnArea > li:first-child > a{ border-left:none; }

/**************************************************
	account
**************************************************/
#accountForm > h3{ margin-bottom:20px; }
#accountForm .chkArea{ text-align:right; padding-top:5px; padding-bottom:10px; color:#666; font-size:11px; }
#accountForm .btnArea{ text-align:center; padding-top:15px; }
#idCheckBone{ width:450px; margin:40px auto; }
#idCheckBone h3{ font-size:18px; }
#idCheckBone .txt{ background-color:#f6f6f6; border:1px solid #eee; border-top:2px solid #A4A4A4; padding:15px; margin-top:10px; }

/**************************************************
	myPoint
**************************************************/
#myPointBone{ position:relative; padding-top:25px; }
#myPointBone .totalPoint{ position:absolute; top:0; right:0; }

/**************************************************
	search_board
**************************************************/
#search_board .tab{ margin:0; padding:0; list-style-type:none; line-height:32px; }
#search_board .tab > li{ display:inline-block; *display:inline; *zoom:1; margin-right:5px; line-height:20px; }
#search_board .tab > li > a{ display:block; padding:5px 8px; }
#search_board #searchBoardForm{ font-size:0; display:block; text-align:center; padding:10px 0 10px 0; margin-bottom:40px; background:#F7F7F7; border-top:2px solid #dedede; }
#search_board #searchBoardForm > label{ font-size:12px; margin-right:10px; }
#search_board #searchBoardForm > *{ vertical-align:middle; }
#search_board #searchBoardForm .keyword{ width:250px; border:1px solid #333447; height:20px; padding:5px; margin-left:10px; }
#search_board #searchBoardForm .submit{ background:#333447; border:none; height:32px; color:#fff; padding:0 15px; cursor:pointer; }
#search_board > h5{ display:block; padding-bottom:40px; font-size:20px; font-family:MalgunGothic; font-weight:normal; text-align:center; }
#search_board .tab{ font-size:0; margin:0; padding:0; list-style-type:none; }
#search_board .tab > li{ display:inline-block; *display:inline; *zoom:1; vertical-align:top; margin-right:2px; }
#search_board .tab > li > a{ padding:5px 10px; display:block; background:#333447; color:#fff; }
#search_board .tab > li > a:hover,
#search_board .tab > li.active > a{ background:#505162; text-decoration:none; }
#search_board .search_board_list{ margin:0; padding:0; padding-top:10px; list-style-type:none; }
#search_board .search_board_list .title{ position:relative; display:block; padding-bottom:10px; margin:30px 0 20px 0; border-bottom:1px solid #000; }
#search_board .search_board_list .title .article_name{ font-size:16px; font-weight:bold; letter-spacing:-1px; font-family:MalgunGothic; color:#000; }
#search_board .search_board_list .title .total_count{ font-size:11px; color:#999; padding-left:10px; }
#search_board .search_board_list .title .more{ position:absolute; bottom:10px; right:0; font-size:11px; color:000; font-size:11px; }
#search_board .search_board_list .data_li{ font-size:0; display:block; padding:8px 0 8px 10px; }
#search_board .search_board_list .data_li .data_title{ font-size:12px; font-weight:bold; color:#000; text-decoration:underline; }
#search_board .search_board_list .data_li .balnk_window{ vertical-align:top; margin-left:10px; display:inline-block; *display:inline; *zoom:1; width:18px; height:18px; background:url(../../images/window.gif); }
#search_board .search_board_list .data_li .data_memo{ font-size:11px; color:#666; display:block; display:block; padding-top:3px; }


