@charset "utf-8";
/**************************************************
	
	Common
	
**************************************************/
@font-face{
	font-family:MalgunGothic;
	src:url(../library/font/MalgunGothic.eot);
	src:local('※'), url(../library/font/MalgunGothic.woff) format('woff');
}
*{
	-webkit-text-size-adjust:none;
	-webkit-border-radius:0;
}
body,form,dl,dd{
	margin:0;
	padding:0;
}
body,td,select,input,div,form,textarea,center,option,pre,p,span,blockquote,td,li,dd{
	font-family:MalgunGothic, dotum, gullim, Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#343434;
	letter-spacing:0;
}
body{
	background-color:#ffffff;
	line-height:18px;
}
label{
	cursor:pointer;
}
dd,header,footer,section,article,nav,hgroup{
	display:block;
}
input[type=search]{
	border:none;
	height:50px;
}
img{
	border:none;
	vertical-align:middle;
}
fieldset{
	margin:0;
	padding:0;
	border:none;
}
legend{
	margin:0;
	padding:0;
}
h1,h2,h3,h4{
	margin:0;
	padding:0;
	text-align:left;
	font-size:1px;
}
/* Inputs */
input[type=checkbox],input[type=radio]{
	border:none;
	vertical-align:middle;
	cursor:pointer;
}
input[type=text],input[type=password],input[type=search],input[type=email],input[type=url],input[type=number],textarea{
	width:300px;
	padding:5px;
	border:1px solid #D0CFCF;
	border-right:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
	background:#FAF9F9;
	line-height:18px;
}
input[type=text]:hover,input[type=password]:hover,input[type=search]:hover,input[type=email]:hover,input[type=url]:hover,input[type=number]:hover,select:hover,textarea:hover{
	border:1px solid #D0CFCF;
	border-right:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
	background:#fff;
}
input[type=text]:focus,input[type=password]:focus,input[type=search]:focus,input[type=email]:focus,input[type=url]:focus,input[type=number]:focus,select:focus,textarea:focus{
	background-color:#ffffff;
}
select{
	padding:5px;
	border:1px solid #D0CFCF;
	border-right:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
	background:#FAF9F9;
	cursor:pointer;
}
input[disabled]{
	background-color:#f3f3f3;
}
input[type=checkbox][disabled],input[type=radio][disabled]{
	background-color:#ffffff;
}

/* Links */
A:link{text-decoration:none; color:#666666}
A:visited {text-decoration:none; color:#666666}
A:active {text-decoration:none; color:#666666}
A:hover{text-decoration:underline; color:#000000}

/**************************************************
	
	Style
	
**************************************************/
.__button_submit{ cursor:pointer; margin:0 4px; background:#35364a; display:inline-block; *display:inline; *zoom:1; border:none; padding:7px 12px; padding-top:10px; font-size:15px; color:#fff; }
.__button_cancel{ cursor:pointer; margin:0 4px; background:#dedede; display:inline-block; *display:inline; *zoom:1; border:none; padding:7px 12px; padding-top:10px; font-size:15px; color:#000; }
.__span_sment{ font-size:13px; letter-spacing:-1px; color:#999; padding-left:10px; }

body{ margin:0; padding:0; }
header{ width:408px; margin:0 auto; margin-top:100px; }
article{ background-color:#dedede; padding:20px; margin-top:25px; text-align:center; }
article .inner{ width:408px; margin:0 auto; text-align:left; }
article .t{ background:#343549; font-size:13px; color:#fff; letter-spacing:-1px; padding:15px; padding-left:10px; }
article .t strong{ padding-right:10px; }
article .c{ background-color:#F8F8F8; border:1px solid #fff; padding:15px; }
article .stitle{ font-size:13px; color:#666; }
article .tb{ display:block; background-color:#fff; border:1px dotted #ccc; padding:10px; margin-top:10px; font-size:13px; }
footer{ width:408px; margin:0 auto; margin-top:20px; text-align:center; }
footer > *:first-child{ margin:0; }
table{ margin-top:10px; }
table th{ font-size:13px; letter-spacing:-1px; width:100px; text-align:left; padding:8px 0; }


