@charset "utf-8";

/*게시판 프로필 팝업창*/
#member_profile{ border-top:3px solid #333; }
#member_profile .title{ padding:15px 0 5px 10px; color:#333; font-size:20px; letter-spacing:-1px; font-family:NanumGothicBold; }
#member_profile .cont{ border:1px solid #999; padding:10px; margin:5px; background:#fff; height:325px; }
#member_profile .cont table{ width:100%; }
#member_profile .cont table th,
#member_profile .cont table td{ border-bottom:1px solid #f1f1f1; padding:7px 0; }
#member_profile .cont table th{ width:100px; text-align:left; }
#member_profile .cont table td{ text-align:left; }
#member_profile .btnArea{ padding-top:10px; text-align:center; }

/*게시판 관리 팝업창*/
#list_controll{ border-top:3px solid #333; }
#list_controll .title{ padding:15px 0 5px 10px; color:#333; font-size:20px; letter-spacing:-1px; font-family:NanumGothicBold; }
#list_controll .cont{ border:1px solid #999; padding:10px; margin:5px; background:#fff; height:225px; }
#list_controll .cont table{ width:100%; }
#list_controll .cont table td{ border-bottom:1px solid #f1f1f1; padding:10px 0; text-align:center; }
#list_controll .cont table td > *{ vertical-align:middle; }
#list_controll .select_count{ color:#ff0000; font-family:tahoma; font-size:25px; padding-right:5px; }
#list_controll .btnArea{ padding-top:20px; text-align:center; }