@charset "utf-8";
/**************************************************
	
	Global
	
**************************************************/
.__viewFooterBtns{ text-align:center; padding-top:5px; }
.__viewPcModeBtn{ height:30px; }

.__paging_area{ margin:0; padding:0; padding-top:10px; list-style-type:none; text-align:center; line-height:13px; font-size:0; }
.__paging_area li{ vertical-align:middle; border:1px solid #DCDCDC; margin:0 3px; line-height:0; }
.__paging_area .___paging_num_active{ color:#DA2044; width:30px; text-align:center; padding:10px 0; border-color:#DA2044; line-height:8px !important; font:12px tahoma; display:inline-block; *zoom:1; *display:inline; }
.__paging_area .___paging_num{ color:#333333; font:12px tahoma; display:inline-block; *zoom:1; *display:inline; }
.__paging_area .___paging_num > a{ display:block; width:30px; text-align:center; padding:10px 0; line-height:8px; }
.__paging_area .___paging_num:hover{ border-color:#DA2044; }
.__paging_area .___paging_num:hover > a{ color:#000; text-decoration:none; }
.__paging_area .___paging_after,
.__paging_area .___paging_after2,
.__paging_area .___paging_before,
.__paging_area .___paging_before2{ border:none; display:inline-block; *zoom:1; *display:inline; }
.__paging_area .___paging_after > a,
.__paging_area .___paging_after2 > a,
.__paging_area .___paging_before > a,
.__paging_area .___paging_before2 > a{ padding:10px 3px; text-align:center; display:block; font-size:11px; color:#999; letter-spacing:-1px; }
.__paging_area .___paging_after > a:hover,
.__paging_area .___paging_after2 > a:hover,
.__paging_area .___paging_before > a:hover,
.__paging_area .___paging_before2 > a:hover{ color:#000; text-decoration:none; }
.__paging_area .___paging_after > a,
.__paging_area .___paging_after2 > a{ font-size:11px; color:#999; letter-spacing:-1px; }
.__paging_area .___paging_after > a img,
.__paging_area .___paging_after2 > a img{ padding-left:3px; }
.__paging_area .___paging_before > a img,
.__paging_area .___paging_before2 > a img{ padding-right:3px; }

/**************************************************
	login
**************************************************/
#loginForm .inner{ text-align:center; }
#loginForm .checkArea{ font-size:11px; letter-spacing:-1px; display:block; padding-top:10px; }
#loginForm .btnArea{ margin:0; padding:0; padding-top:20px; list-style-type:none; text-align:center; }
#loginForm .btnArea > li{ display:inline-block; *display:inline; *zoom:1; padding:0 10px; border-left:1px solid #dedede; }
#loginForm .btnArea > li:first-child{ border:none; }
#loginForm .btnArea > li > a{ font-size:13px; font-weight:bold; color:#333; letter-spacing:-1px; }

/**************************************************
	findPassword
**************************************************/
#findPasswordForm .inner{ text-align:center; }

/**************************************************
	account
**************************************************/
#accountForm .chkArea{ font-size:13px; padding-bottom:10px; padding-top:5px; }

/**************************************************
	search_board
**************************************************/
#search_board .btnArea{ text-align:center; }
#search_board .btnArea .__button_submit{ padding:10px 20px; margin:0; }
#search_board .btnArea > *:fitst-child{ margin-left:0; }
#search_board .tab{ margin:0; padding:0; list-style-type:none; text-align:center; }
#search_board .tab > li{ display:inline-block; *display:inline; *zoom:1; margin-right:5px; }
#search_board .tab > li > a{ display:block; padding:5px 8px; }
#search_board > h5{ display:block; font-size:14px; font-weight:bold; text-align:center; }
#search_board .tab{ font-size:0; margin:0; padding:0; list-style-type:none; line-height:30px; }
#search_board .tab > li{ display:inline-block; *display:inline; *zoom:1; vertical-align:top; margin-right:2px; line-height:16px; }
#search_board .tab > li > a{ padding:5px 10px; display:block; background:#333447; color:#fff; }
#search_board .tab > li > a:hover,
#search_board .tab > li.active > a{ background:#505162; text-decoration:none; }
#search_board .search_board_list{ margin:0; padding:0; padding-top:10px; list-style-type:none; }
#search_board .search_board_list .title{ position:relative; display:block; padding-bottom:10px; margin:30px 0 10px 0; border-bottom:1px solid #000; }
#search_board .search_board_list .title .article_name{ font-size:16px; font-weight:bold; letter-spacing:-1px; color:#000; }
#search_board .search_board_list .title .total_count{ font-size:11px; color:#999; padding-left:5px; }
#search_board .search_board_list .title .more{ position:absolute; bottom:10px; right:0; font-size:11px; color:000; font-size:11px; }
#search_board .search_board_list .data_li{ font-size:0; display:block; padding:5px 0 5px 10px; }
#search_board .search_board_list .data_li .data_title{ letter-spacing:-1px; font-size:12px; font-weight:bold; color:#000; text-decoration:underline; }
#search_board .search_board_list .data_li .data_memo{ line-height:12px; letter-spacing:-1px; font-size:11px; color:#666; display:block; display:block; padding-top:3px; }


